.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-top: 2px solid var(--Azul-acinzentado);
}

.attribution {
    display: flex;
    text-align: center;
    color: var(--Azul-acinzentado-escuro); 
    cursor: pointer;
    font-size: .8em;
}

.attribution a {
    color: var(--Azul-muito-escuro);
    padding: 0 3px;
    transition: .5s ease-in-out;
    text-decoration: underline;
}

.attribution a:hover {
    color: var(--Laranja);
}